@font-face {
    font-family: Futura;
    src: url(../fonts/Futura-Bold.ttf);
}
@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Medium.ttf);
}
/* basic code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

/* when we select an element this style applies */
*::selection{
    color: #fff;
    background-color: #000;
}
body{
    background-color: #f7f7f7;
}
html,body{
    height: 100%;
    width: 100%;
}

/* nav is fixed so that it moves with the page scroll */
#nav{
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    /* so that vo upar ki taraf se chipke huye dikhe */
    align-items: flex-start;
    justify-content: space-between;
}

#nav-part1{
    height: 83px;
    overflow: hidden;
}

#nav-part1 svg{
    display: block;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links{
    padding: 10px;

}
#nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin:0 20px;
}

#nav-part2 #icons i{
    font-size: 18px;
    margin:0 20px;
    font-weight: 100;
}
#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #f7f7f7;
}
#cursor{
    height: 180px;
    width: 180px;
    background-color:#e6e6e6;
    position: fixed;
    border-radius: 50%;
    transform:translate(-50%,-50%) scale(0);
}
/* page 1 starts */

#page1{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 0 1vw;
    padding-top: 20vh;
}

#page1 h1{
    font-size: 15vw;
    font-family:"Futura";
    text-transform: uppercase;
    line-height: 14vw;
    letter-spacing: -8px;
}

/* video styling starts */
#video-container{
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family:"Futura";
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}
/* video styling ends */

/* page 1 ends */

.good{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

/* page 2 starts */
#page2{
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem{
    height: 100%;
    width: 30%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem .dets{
    height: 50px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color:#e6e6e6
}

.nav-inside{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 15px auto;
}

.nav-inside li{
    list-style-type: none;
}

/* .elem .dets:hover{
    height: 200px;
} */

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

/* page 3 starts */
#page3{
    min-height: 200vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* children wrap in the original size */
    flex-wrap: wrap;
}
#page3 #believe{
    margin: 0px 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

#text-left h1{
    font-size: 55px;
    font-weight:900;
}
#text-right{
    font-size: 18px;
}
#text-right #two{
    margin-top: 23px;
}
.btn{
    margin-top: 23px;
    border: none;
    background-color: #F7F7F7;
    border-bottom: 1px solid;
}
.child{
    height:55vh;
    width:38vw;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.child img{
    height: 100%;
}
/* page 3 ends */
#page4{
    min-height:100vh ;
    width: 100%;
    /* background-color: blue; */
}
#page4 h1{
    margin-top: 80px;
    font-weight: 900;
    font-size: 4.5vw;
    font-family: "Futura";
    line-height: 4rem;
}

#box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
#box #btn2{
    padding: 17px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #000;
    color: white;
    border-radius:35px;
}

#box #box-text{
    line-height: 25px;
    font-size: 17px;
    margin-top: 50px;
}

#page5{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#page5 .in-page5{
    height: 700px;
    width: 32%;
}

#page5 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#text-page5{
    margin-top: 75px;
    margin-left: 10px;
}

#text-page5 h1{
    font-weight: 600;
    font-family: "Futura";
}

#text-page5 p{
    margin-top: 30px;
}

#page6{
    min-height: 100vh;
    width: 100%;
}

#page6 #btn3{
    width: 90%;
    font-size: 3vw;
    margin-left: 40px;
    font-family: "Futura";
    border: none;
    border-bottom: 1px solid black;
    background-color: #F7F7F7;
}
#page6 #footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page6 #footer .connect{
    margin-left: 20px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.connect a{
    text-decoration: none;
    color: grey;
    margin-bottom: 12px;
}

#footer-icon{
    width: 1130px;
    height: 600px;
}

#footer-icon svg{
    height: 230px;
    width: 230px;
    margin: 80px auto;
    margin-left: 400px;
}

#footer-icon ul{
    margin-left: 330px;
    margin-top: 15px;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 12px;
    color: grey;
}

#footer-icon p{
    margin-top: 60px;
}

#footer-icon h5{
    font-weight:200;
    font-size: 15px;
}



/* jab meri width max 600px hogi tab ye property hit hogi */
@media (max-width:600px) {
    #nav {
        width: 100%;
        position: fixed;
        z-index: 99;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;
    }

    #nav #nav-part2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    #links {
        padding: 10px;
        display: none;
    }

    #nav-part1 {
        height: 67px;
        overflow: hidden;
    }

    #nav-part1 svg {
        display: block;
        height: 67px;
        width: 80px;
    }
    #nav #twogoodlogo{
        height: 40px;
        margin-left: -20px;
    }

    #icons {
        padding: 7px;
        border-radius: 50px;
        background-color: #F7F7F7;
    }

    #nav-part2 #icons i {
        font-size: 15px;
        margin: 0 20px;
        font-weight: 100;
    }

    #page1{
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;
    }
    #page1 h1{
        font-size: 15.5vw;
        letter-spacing:-3px ;
    }
    #video-container{
        height: 25vh;
        margin-top: 3vw;
    }
    #video-container #play{
        padding: 9.5vw 7.2vw;
        font-size:4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
    }
    #page2{
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #page2 .elem{
        min-height: 100vh;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        margin-bottom: 3vw;
    }
    #page2 .elem .dets {
        height: 40px;
        border-radius: 50px;
        width: 70%;
        position: absolute;
        z-index: 9;
        background-color: rgb(229, 156, 186);

    }
    #page3 {
        min-height: 120vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .child{
        height:55vh;
        width:88vw;
        /* background-color: red; */
        position: relative;
        display: flex;
        padding: 15vw;
        align-items: center;
        justify-content: center;
    }
    .child img{
        height: 100%;
    }
}
